// blocks
@import "./blocks/section1";
@import "./blocks/section2";
@import "./blocks/section3";
@import "./blocks/section4";
@import "./blocks/section5";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}